<!DOCTYPE html>
<html>
  <head> 
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel='stylesheet' href='/stylesheets/chat.css' />
    <link rel='stylesheet' href='/stylesheets/panel.css' />
    <link rel='stylesheet' href='/stylesheets/scrollDesign.css' />
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>    
  <!--  <script type="module" src="http://localhost:3000/javascripts/initHtml.js"></script> -->

  <div id="panel" style="width: 350px; height: 500px;display: inline-block;">

    <div class="chat-box">

      <div class="chat-header">

        <div class="left">
          <i class='far fa-comments'> Chat</i>
        </div>
        <div class="right">
          <i class='fas fa-list-ul'></i>
          <i class="fas fa-times"></i>
        </div>

      </div>
      <div class="all-messages">
        <div class="start-chat">Be the first to comment....</div>
      </div>
     

      <div class="box-send-message">

        <div class="reply-message">
          <div class="close">
            <i class="fas fa-times"></i>
          </div>
          <div class="text scroll">
            <div class="name">dober</div>
            Be the first to comment.... Be the first to comment.... Be the first to comment.... Be the first to comment.... Be the first to comment.... Be the first to comment.... Be the first to comment....
          </div>
        </div>

        <div class="input-message">
          <input type="text" placeholder=" ...Enter your message ">
        </div>
        <div class="icons-input">
          <i class='fas fa-paper-plane'></i>
          <i class="fas fa-sort-amount-down-alt"></i>
        </div>

      </div>
    </div>

  </div>































    <div id="panel" style="width: 350px; height: 500px;display: inline-block;">

      <div class="chat-box">

        <div class="chat-header">

          <div class="left">
            <i class='far fa-comments'> Chat</i>
          </div>
          <div class="right">
            <i class='fas fa-list-ul'></i>
            <i class='fas fa-window-close'></i>
          </div>

        </div>

        <div class="all-messages scroll">

          <div class="box-my-message">

            <div class="img"><img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt=""></div>
            <div class="my-message">
              <div class="name">חיים</div>
              <div class="text">
                what app
              </div>
              <div class="data-bottom-message">

                <div class="left-bottom">
                  <i class='fas fa-comment-slash reporting'></i>
                  <span class="date">2:30</span>
                </div>
                <div class="right-bottom">
                  <span class="respomse">הגב</span>
                </div>
               
              </div>
            </div>  

          </div>

          <div class="box-message">

            <div class="img"><img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt=""></div>
            <div class="message">
              <div class="name">חיים</div>
              <div class="text">
                <div class="other-reply-message">
                  <div class="name">חיים</div>
                  whats app whats app whats app whats app whats app whats app</div>
                מה המצב
              </div>
              <div class="data-bottom-message"> 
                
                <div class="left-bottom">
                  <i class='fas fa-comment-slash reporting'></i>
                  <span class="date">2:30</span>
                </div>
                <div class="right-bottom">
                  <span class="respomse">הגב</span>
                </div>
              </div>
            </div>  
            
          </div>

          <div class="box-my-message">

            <div class="img"><img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt=""></div>
            <div class="my-message">
              <div class="name">חיים</div>
              <div class="text">
                <div class="i-reply-message">
                  <div class="name">חיים</div>
                  whats app whats app whats app whats app whats app whats app</div>
                מה המצב
              </div>
              <div class="data-bottom-message">
                <div class="left-bottom">
                  <i class='fas fa-comment-slash reporting'></i>
                  <span class="date">2:30</span>
                </div>
                <div class="right-bottom">
                  <span class="respomse">הגב</span>
                </div>
              </div>
            </div>  

          </div>

          <div class="box-message">

            <div class="img"><img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt=""></div>
            <div class="message">
              
              <div class="text"></div>
              <div class="data-bottom-message">
                <div class="left-bottom">
                  <i class='fas fa-comment-slash reporting'></i>
                  <span class="date">2:30</span>
                </div>
                <div class="right-bottom">
                  <span class="respomse">הגב</span>
                </div>
              </div>
            </div>  
            
          </div>

       
          <div class="box-message">

            <div class="img"><img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt=""></div>
            <div class="message">
              <div class="text"></div>
              <div class="data-bottom-message">
                <div class="left-bottom">
                  <i class='fas fa-comment-slash reporting'></i>
                  <span class="date">2:30</span>
                </div>
                <div class="right-bottom">
                  <span class="respomse">הגב</span>
                </div>
              </div>
            </div>  
            
          </div>

          <div class="box-message">

            <div class="img"><img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt=""></div>
            <div class="message">
              <div class="text"></div>
              <div class="data-bottom-message"> <i class='fas fa-comment-slash reporting'></i><span class="date">2:30</span></div>
            </div>  
            
          </div>
        
        </div>

        <div class="box-send-message">
          <div class="input-message">
            <input type="text" placeholder=" ...Enter your message ">
          </div>
          <div class="icons-input">
            <i class='fas fa-paper-plane'></i>
            <i class="fas fa-sort-amount-down-alt"></i>
          </div>

        </div>
      </div>

    </div>
       
    


  </body>
</html>
 