<!DOCTYPE html>
<html lang="en">
<head>
     
    <link rel='stylesheet' href='/stylesheets/enrollment.css' />
    <link rel='stylesheet' href='/stylesheets/panel.css' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Document</title>
</head>
<body>
    <div class="panel" style="width: 350px; height: 500px;display: inline-block;margin-right: 20px; ">
        <div class="sign-up form-enrollment">
            <div class="form">
                <div class="header">
                    <div class="form-title">
                        Sign Up   
                    </div>
                    <div class="menu">
                        <i class='fas fa-list-ul'></i>
                        <ul>
                            <li>תפריט ראשי</li>
                            <li>log in</li>
                            <li>reset password</li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            
                <div class="user-name">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder=" Name ">
                </div>

    
                <div class="email">
                    <i class="fas fa-at"></i>
                    <input type="email" placeholder=" Email ">
                </div>
    
                <div class="password">
                    <i class="fas fa-lock" ></i>
                    <input type="password" name="" id="" placeholder=" Password ">
                </div>
    
                <div class="confirm-password">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="" id="" placeholder=" confirm password ">
                </div>
    
                <button class="button-sign-up">Sign Up</button>

                <a href="">to Log in click here</a>
            </div>
          
        </div>
    </div>

















    
















    <div class="panel" style="width: 350px; height: 500px;display: inline-block; ">
        <div class="log-in form-enrollment">

            <div class="form">
                <div class="header">
                    <div class="form-title">
                        Log in   
                    </div>
                    <div class="menu">
                        <i class='fas fa-list-ul'></i>
                    </div>
                </div>

                <div class="user-name">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder=" Name ">
                </div>
    
                <div class="password">
                    <i class="fas fa-lock" ></i>
                    <input type="password" name="" id="" placeholder=" Password ">
                </div>

                <button class="button-log-in">Log in</button>

                <a href="">Forgot password click here</a>
            </div>
          
        </div>
    </div>

























    <div class="panel" style="width: 350px; height: 500px;display: inline-block; margin-left: 20px;">
        <div class="reset-password form-enrollment">

            <div class="form">
                <div class="header">
                    <div class="form-title">
                        Reset password   
                    </div>
                    <div class="menu">
                        <i class='fas fa-list-ul'></i>
                    </div>
                </div>
                <div class="email">
                    <i class="fas fa-at"></i>
                    <input type="email" placeholder=" Email ">
                </div>
                <button class="button-reset-password">send me instruction</button>

            </div>
          
        </div>
    </div>













































    <div id="panel" style="width: 350px; height: 500px;display: inline-block; margin-top: 30px; margin-left: 20px; ">
        <div class="update-user form-enrollment">
            <div class="form">
                <div class="header">
                    <div class="form-title">
                        Update   
                    </div>
                    <div class="menu">
                        <i class='fas fa-list-ul menu-pic'></i>
                    </div>
                </div>
                <div class="user-img">
                    <input type="file"  hidden>
                    <img class="img" src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                    <i class="fas fa-camera"></i>
                    <ul>
                        <li>change picture</li>
                        <li>cancel</li>
                        <li>no picture</li>
                    </ul>
                </div>
                <div class="user-name">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder=" Name ">
                </div>
    
                <div class="email">
                    <i class="fas fa-at"></i>
                    <input type="email" placeholder=" Email ">
                </div>
    
                <div class="new password">
                    <i class="fas fa-lock" ></i>
                    <input type="password" name="" id="" placeholder="new Password ">
                </div>
    
                <div class="confirm password">
                    <i class="fas fa-lock" ></i>
                    <input type="password" name="" id="" placeholder="confirm password ">
                </div>
                <div class="current-password">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="" id="" placeholder=" old password ">
                </div>
    
                <button class="button-user-update">update</button>

            </div>
          
        </div>
    </div>




































    <div class="panel" style="width: 350px; height: 500px;display: inline-block; margin-left: 20px;margin-top: 20px;">
        <div class="change-password form-enrollment">

            <div class="form">
                <div class="form-title">
                    Change password
                </div>
                <div class="password">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="" id="" placeholder=" new password ">
                </div>
                <div class="confirm password">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="" id="" placeholder=" confirm password ">
                </div>
                <button class="button-change-password">change</button>

            </div>
          
        </div>
    </div>
</body>
</html>