<!DOCTYPE html>
<html lang="en">
    <head> 
      <link rel='stylesheet' href='/stylesheets/main.css' />
        <link rel='stylesheet' href='/stylesheets/fileSharing.css' />
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      </head>
<body>
    <div id="panel" style="width: 350px; height: 500px;display: inline-block;margin-right: 20px; ">
        <div class="box-file-sharing">
            <div class="box-file-sharing-header">
              
                <div class="left">
                  <i class='far fa-folder-open'> File sharing</i>
                </div>
                <div class="right">
                  <i class='fas fa-list-ul'></i>
                  <i class="fas fa-times closeWindow"></i>
                </div>
      
              </div>

              <div class="all-file-sharing scroll">

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      מה המצב 
                    </div>

                    <div class="file">
                      <span class="file-name">dog</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                      <i class="far fa-thumbs-up like"></i>
                      <span class="number">1110</span>
                      <i class="far fa-thumbs-down dislike"></i>
                    </div>

                  </div>

                </div>

                <div class="box-file my">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

                <div class="box-file">
                  <div class="img">
                    <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                  </div>

                  <div class="content-file">

                    <div class="name">
                      dober
                    </div>

                    <div class="title">
                      קובץ זה מעניין
                    </div>

                    <div class="file">
                      <span class="name-file">dog.png</span>
                      <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                        <i class="fas fa-arrow-circle-down"></i>
                      </a>
                    </div>

                    <div class="data-bottom-file">
                      <span class="date">2:00</span>
                      <i class='fas fa-comment-slash reporting'></i>
                    </div>

                  </div>

                </div>

              </div>


          <div class="open-forum-upload">
            <i class="fas fa-upload"></i>
          </div>

          

        </div>
    </div>















    <div id="panel" style="width: 350px; height: 500px;display: inline-block; ">
      <div class="box-file-sharing">
          <div class="box-file-sharing-header">
            
              <div class="left">
                <i class='far fa-folder-open'> File sharing</i>
              </div>
              <div class="right">
                <i class='fas fa-list-ul'></i>
                <i class="fas fa-times closeWindow"></i>
              </div>
    
            </div>

            <div class="all-file-sharing scroll">

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    מה המצב 
                  </div>

                  <div class="file">
                    <span class="name-file">dog</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

              <div class="box-file">
                <div class="img">
                  <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                </div>

                <div class="content-file">

                  <div class="name">
                    dober
                  </div>

                  <div class="title">
                    קובץ זה מעניין
                  </div>

                  <div class="file">
                    <span class="name-file">dog.png</span>
                    <a href="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" download>
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                  </div>

                  <div class="data-bottom-file">
                    <span class="date">2:00</span>
                    <i class='fas fa-comment-slash reporting'></i>
                  </div>

                </div>

              </div>

            </div>


        <div class="open-forum-upload">
          <i class="fas fa-upload"></i>
        </div>

        
<div class="form-upload">
  <div class="exit">
    <i class="fas fa-times"></i>
  </div>

  <div class="title-form">
    upload file
  </div>
  <div class="upluad-logo">
    <i class="fas fa-cloud-upload-alt upload"></i>
  </div>
  

  <div class="title-file">
    <input type="text" placeholder=" write file title.... ">
  </div>
  <input type="file"  hidden>
  <div class="preview-file">
    <button class="button-select">select file</button>
  </div>

  <div class="buttons-bottom">
    <button class="button-upload">upload</button>
    <button class="button-cancle">cancle</button>
  </div>

</div>

      </div>
  </div>















































  


  <div id="panel" style="width: 350px; height: 500px;display: inline-block; ">
    <div class="box-file-sharing">
        <div class="box-file-sharing-header">
          
            <div class="left">
              <i class='far fa-folder-open'> File sharing</i>
            </div>
            <div class="right">
              <i class='fas fa-list-ul'></i>
              <i class="fas fa-times closeWindow"></i>
            </div>
  
          </div>

          <div class="all-file-sharing scroll">

              <div class="start-file-sharing">Be the first to comment....</div>
    
          </div>


      <div class="open-forum-upload">
        <i class="fas fa-upload"></i>
      </div>

</div>

</body>
</html>
