<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>


    <div id="panel">
        <div class="forum-box">
            <div class="forum-header">

                <div class="left">
                <i class="far fa-comment-alt"> Forum</i>
                </div>
                <div class="right">
                <i class='fas fa-list-ul'></i>
                <i class="fas fa-times"></i>
                </div>
        
            </div>

            <div class="all-forums">
                <div class="start-forum">Be the first to comment....</div>
            </div>
        </div>
        <div class="open-send-post">
            <i class="fas fa-comment-alt"></i>
        </div>
       
        <div class="form-send-post">
            <div class="close-send-post">
                <i class="fas fa-times"></i>
            </div>
            
            <div class="reply-post">
                <div class="name">
                    dober
                </div>
                <div class="reply-text scroll">
                    sa saasd saasd saasd saasdsaasdsaasdsaasdsaasdsaasd saasd saasd saasd saasd saasd saasd saasd saasd saasdasd
                </div>
               
            </div>
            <input placeholder="post title" class="scroll title-post" type="text">
            <textarea placeholder="write new post" class="input-post"></textarea>
            <button class="submit-post">send</button>
        </div>
    </div>





















































    <div id="panel">
        <div class="forum-box">
            <div class="forum-header">

                <div class="left">
                <i class="far fa-comment-alt"> Forum</i>
                </div>
                <div class="right">
                <i class='fas fa-list-ul'></i>
                <i class="fas fa-times"></i>
                </div>
        
            </div>

            <div class="all-forums">
                <div class="start-forum">Be the first to comment....</div>
            </div>
        </div>
        <div class="open-send-post">
            <i class="fas fa-comment-alt"></i>
        </div>
        <div class="form-send-post">
            <div class="close-send-post">
                <i class="fas fa-times"></i>
            </div>
            <input placeholder="post title" class="scroll title-post" type="text">
            <textarea placeholder="write new post" class="input-post"></textarea>
            <button class="submit-post">send</button>
        </div>
    </div>





















































































    <div id="panel">
        <div class="forum-box">
            <div class="forum-header">

                <div class="left">
                <i class="far fa-comment-alt"> Forum</i>
                </div>
                <div class="right">
                <i class="fas fa-arrow-left"></i>
                <i class='fas fa-list-ul'></i>
                <i class="fas fa-times"></i>
                </div>
        
            </div>
            <div class="all-forums scroll">
              
                <div class="title">
                    "בירושלים   היי מה המצב שם בירושלים   היי מה המצב שם בירושלים "
                </div>  
             
                <div class="comment-box">
                  
                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="reply-post">
                        <div class="name">
                            name
                    </div>
                        <div class="reply-text">
                            lemo42   lemo42  lemo42  lemo42  lemo42  lemo42  lemo42
                        lemo42  lemo42  lemo42  lemo42  lemo42  lemo42  lemo42
                        lemo42  lemo42  lemo42  lemo42  lemo42  lemo42  lemo42
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>

                <hr class="space">


                <div class="comment-box">

                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>


                <div class="comment-box">

                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>


                <div class="comment-box">

                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>

                <div class="comment-box">

                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>



                <div class="comment-box">

                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>


                <div class="comment-box">

                    <div class="user">
                        <div class="img">
                         <img src="https://ynet-images1.yit.co.il/picserver5/crop_images/2021/03/04/ByqQU4Rzd/ByqQU4Rzd_0_33_1280_721_0_medium.jpg" alt="">
                        </div>
                        <div class="date">
                                       12/12/21 2:00
                        </div>
                        <div class="name">
                                       name
                        </div>
                    </div>
                    <div class="text">
                        מה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמעמה נשמע
                    </div>
                    <div class="bottom-data">
                        <span class="response">הגב</span>
                        <span><i class="fas fa-thumbs-down"></i></span>
                        <span class="number">70</span>
                        <span><i class="fas fa-thumbs-up"></i></span>
                        <span class="offensive">דווח</span>
                    </div>

                </div>

                <div class="open-send-post">
                    <i class="fas fa-comment-alt"></i>
                </div>
            </div>

            
        </div>
    </div>

















































    <div id="panel">
        <div class="forum-box">
            <div class="forum-header">

                <div class="left">
                <i class="far fa-comment-alt"> Forum</i>
                </div>
                <div class="right">
                <i class='fas fa-list-ul'></i>
                <i class="fas fa-times"></i>
                </div>
        
            </div>
            <div class="all-forums scroll">
                <div class="post-box">
                    

                    <div class="response">
                        <span class="number">40</span>
                        <i class="fas fa-reply"></i>
                    </div>
                    <div class="post">
                        <div class="title">
             היי יש לי שאלה בקשר לרחוב בירושלים
                        </div>
                        <div class="bottom">
                            <div class="name">dober</div>
                            <div class="time">
                                12/12/12 2:00
                            </div>
                        </div>
                    </div>
                    <div class="user-img">
                        <img src="http://localhost:3000/usersImages/user23454644322456765545.jpg" alt="">
                    </div>
              
                    

                </div>

                <div class="post-box">
                    

                    <div class="response">
                        <span class="number">40</span>
                        <i class="fas fa-reply"></i>
                    </div>
                    <div class="post">
                        <div class="title">
             היי יש לי שאלה בקשר לרחוב בירושלים
                        </div>
                        <div class="bottom">
                            <div class="name">dober</div>
                            <div class="time">
                                12/12/12 2:00
                            </div>
                        </div>
                    </div>
                    <div class="user-img">
                        <img src="http://localhost:3000/usersImages/user23454644322456765545.jpg" alt="">
                    </div>
              
                    

                </div>


                <div class="post-box">
                    

                    <div class="response">
                        <span class="number">40</span>
                        <i class="fas fa-reply"></i>
                    </div>
                    <div class="post">
                        <div class="title">
             היי יש לי שאלה בקשר לרחוב בירושלים
                        </div>
                        <div class="bottom">
                            <div class="name">dober</div>
                            <div class="time">
                                12/12/12 2:00
                            </div>
                        </div>
                    </div>
                    <div class="user-img">
                        <img src="http://localhost:3000/usersImages/user23454644322456765545.jpg" alt="">
                    </div>
              
                    

                </div>

                <div class="post-box">
                    

                    <div class="response">
                        <span class="number">40</span>
                        <i class="fas fa-reply"></i>
                    </div>
                    <div class="post">
                        <div class="title">
             היי יש לי שאלה בקשר לרחוב בירושלים
                        </div>
                        <div class="bottom">
                            <div class="name">dober</div>
                            <div class="time">
                                12/12/12 2:00
                            </div>
                        </div>
                    </div>
                    <div class="user-img">
                        <img src="http://localhost:3000/usersImages/user23454644322456765545.jpg" alt="">
                    </div>
              
                    

                </div>
                <div class="post-box">
                    

                    <div class="response">
                        <span class="number">40</span>
                        <i class="fas fa-reply"></i>
                    </div>
                    <div class="post">
                        <div class="title">
             היי יש לי שאלה בקשר לרחוב בירושלים
                        </div>
                        <div class="bottom">
                            <div class="name">dober</div>
                            <div class="time">
                                12/12/12 2:00
                            </div>
                        </div>
                    </div>
                    <div class="user-img">
                        <img src="http://localhost:3000/usersImages/user23454644322456765545.jpg" alt="">
                    </div>
              
                    

                </div>
              
            </div>

            
        </div>
    </div>




























    <div id="panel">
        <div class="forum-box">
            <div class="forum-header">

                <div class="left">
                <i class="far fa-comment-alt"> Forum</i>
                </div>
                <div class="right">
                <i class='fas fa-list-ul'></i>
                <i class="fas fa-times"></i>
                </div>
        
            </div>

            <div class="all-forums">
                <div class="start-forum">Be the first to comment....</div>
            </div>
        </div>
    </div>
</body>
</html>