<!DOCTYPE html>
<html lang="en">
<head>
    <head> 
        <link rel='stylesheet' href='/stylesheets/main.css' />
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      </head>
</head>
<body>

    <div id="panel" style="position: relative; width: 350px;height: 500px;">
        <div class="menu-box">
            <div class="close">
                <i class="fas fa-times"></i>
            </div>
            <div class="file-sharing box">
                 <i class="fas fa-file-upload"></i>
                 <span>File sharing</span>
            </div>
            <div class="chat box">
                <i class="fas fa-comments"></i>
                <span>Chat</span>
            </div>
            <div class="forum box">
                <i class="fas fa-comment-alt"></i>
                <span>Forum</span>
            </div>

            <div class="Friends box">
                <i class="fas fa-user-friends"></i>
                <span>friends</span>
            </div>
           
            <div class="Followed box">
                <div class="list">
                    <ul>
                        <li>my followed</li>
                        <li>my followers</li>
                    </ul>
                </div>
                <i class="fas fa-shoe-prints"></i>
                <span>follow</span>
            </div>
           
            <div class="enrollment box">
                <div class="list">
                    <ul>
                        <li>sign up</li>
                        <li>login</li>
                        <li>reset</li>
                        <li>forgot</li>
                        <li>update</li>
                    </ul>
                </div>
         

                <i class="fas fa-sign-in-alt"></i>
                <span>Enrollment</span>
            </div>
            
        </div>
    </div>

    

</body>
</html>