<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel='stylesheet' href='/stylesheets/users.css' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Document</title>
</head>
<body>
    <div class="panel" style="width: 350px; height: 500px;display: inline-block;margin-right: 20px; ">
      <div class="users-box">

        <div class="users-header">

            <div class="left">
              <i class='far fa-shoe-prints'> my friend</i>
            </div>
            <div class="right">
              <i class='fas fa-list-ul'></i>
              <i class='fas fa-window-close'></i>
            </div>
        </div>


        <div class="all-users">
          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog">
                <ul>
                  <li><button>הפסק חברות</button></li>
                </ul>
              </i>
            </div>
          </div>

          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog"></i>
            </div>
          </div>

          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog"></i>
            </div>
          </div>

          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <div class="user">
            <div class="img">
              <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
            </div>
            <div class="content">
              <div class="name">dober</div>
              <div class="icon">
                <i class="fas fa-user-friends"></i>
              </div>
            </div>
            <div class="setting">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          
        </div>




      </div>
    </div>
</body>
</html>