<!DOCTYPE html>
<html lang="en">
<head>
        <script src='https://kit.fontawesome.com/fe7c245d79.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/notification.css' />
    
</head>
<body>
    <div class="panel" style="position: relative; width: 350px;height: 500px;">
        <div class="notification-box">

            <div class="notification-header">

                <div class="left">
                    <i class="fas fa-bell"> Notification</i>
                </div>
                <div class="right">
                  <i class='fas fa-list-ul'></i>
                  <i class='fas fa-window-close'></i>
                </div>
        
            </div>
              
            <div class="all-notification">

                <div class="box-message">
                    <div class="img"><i class="fas fa-cog"></i></div>
                    <div class="message">
                        <div class="text">
                            what app
                        </div>
                        <div class="date">
                            2:30
                        </div>
                    </div>
  
                </div>

                <div class="box-message">
                    <div class="img"><i class="fas fa-cog"></i></div>
                    <div class="message">
                        <div class="text">
                            what app
                        </div>
                        <div class="date">
                            2:30
                        </div>
                    </div>
  
                </div>


                <div class="box-message">
                    <div class="img"><i class="fas fa-cog"></i></div>
                    <div class="message">
                        <div class="text">
                            what app    what app     what app
                            what app
                            what app

                        </div>
                        <div class="date">
                            2:30
                        </div>
                    </div>
  
                </div>


                <div class="box-message">
                    <div class="img"><i class="fas fa-cog"></i></div>
                    <div class="message">
                        <div class="text">
                            
                        </div>
                        <div class="date">
                            2:30
                        </div>
                    </div>
  
                </div>


                
            </div>

            

        </div>

    </div>
</body>
</html>