<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="panel" style="width: 350px; height: 500px;display: inline-block;">
   
        <div class="profile-box">

            <div class="header-container">

                <div class="details">
                    <div class="icon-setting">
                        <i class="fas fa-ellipsis-v"></i> 
                       <div class="list">
                           <ul>
                               <li>עקוב</li>
                               <li>הפסק לעקוב</li>
                               <li>הוסף חבר</li>
                               <li>הסר חבר</li>
                           </ul>
                       </div>
                    </div>

                    <div class="name">
                        dobers
                    </div>
                    <div class="img">
                        <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="content-container">
                <div class="box-1">
                    <div class="followers">
                        <span>followers</span>
                        <div class="number">
                            120
                        </div>
                      
                    </div>
                    <div class="icon">
                        <i class="fas fa-shoe-prints"></i>
                    </div>
                    
                </div>
                <div class="box-2">
                    <div class="friend">
                        <span>friend</span>
                        <div class="number">
                            150
                        </div>
                        
                   
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-friends"></i>
                    </div>
                </div>
                <div class="box-3">
                    <div class="post">
                        <span>posts</span>
                        <div class="number">
                            20
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

    


















    <div class="panel" style="width: 350px; height: 500px;display: inline-block;margin-left: 20px;">
   
        <div class="profile-box">

            <div class="header-container">
                <div class="close-profile">
                    <i class="fas fa-times"></i>
                </div>
                <div class="back">
                    <i class="fas fa-undo-alt"></i>
                </div>
                <div class="details">
                    <div class="icon-setting">
                        <i class="fas fa-ellipsis-v"></i>  
                    </div>

                    <div class="name">
                        dobers
                    </div>
                    <div class="img">
                        <img src="http://localhost:3000/filesOfFileSharing/picture/wow.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="content-container">
                <div class="box">
                    <div class="followers detalis">
                        <span>followers</span>
                        <div class="number">
                            120
                        </div>
                       
                    </div>
                    <div class="icon">
                        <i class="fas fa-shoe-prints"></i>
                    </div>
                    
                </div>
                <div class="box">
                    <div class="friends detalis">
                        <span>friend</span>
                        <div class="number">
                            150
                        </div>        
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-friends"></i>
                    </div>
                </div>
                <div class="box">
                    <div class="posts detalis">
                        <span>posts</span>
                        <div class="number">
                            20
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</body>
</html>