<!DOCTYPE html>
<html>
  <head>  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
  

  
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.emit('login', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsImlhdCI6MTYxMDk3NTk5MywiZXhwIjoxNjExNTgwNzkzfQ.orpD4885go_ovP3zn34SZEm7DXnR9Vl3oVAq5E8UGvg');
        socket.on('mov', function(a){console.log(a)})
    </script>
<script></script>
  </body>
</html>